// color scheme
$color-white: #fff;
$color-snow: #fafafa;
$color-quick-silver: #a0a0a0;

$color-jelly-bean: #E56353;
$color-salmon: #e97f72;
$color-pastel-pink: #f0a9a1;

$color-granite-gray: #484943;
$color-taupe-gray: #97978d;
$color-gray: #babab8;

//font size
$fz-xx-large: 100px;
$fz-x-large: 70px;
$fz-large: 50px;
$fz-medium: 18px;


//font weigth
$raleway: 'Raleway', sans-serif;
$raleway-extra-light: 200;
$raleway-regular: 400;
$raleway-bold: 700;


$primary-font: $raleway;
$primary-font-extra-light: $raleway-extra-light;
$primary-font-regular: $raleway-regular;
$primary-font-bold: $raleway-bold;
