.hero{
    background-color: $color-jelly-bean;
    width: 100%;
    color: $color-white;
    padding: 280px 0;

    &__title{
        text-align: center;
        font-size: $fz-x-large;
        line-height: 70px;
    }

    &__title h1{
        font-weight: $raleway-extra-light;
    }

    &__title span{
        font-weight: $raleway-bold;
    }
}